* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

header {
	background-image: url(../Step-project/img/section-1\(header\).jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
	background: rgba(94, 93, 88, 0.6);
	display: flex;
	justify-content: space-around;
}
.menu {
	display: flex;
	gap: 20px;
	align-items: center;
	font-size: 16px;
	font-weight: 700;
}

.menu-link {
	height: 100%;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s linear;
	position: relative;
	display: flex;
	align-items: center;
}
.menu-link:hover {
	color: #18cfab;
}

.menu-link::after {
	content: "";
	display: none;
	width: 100%;
	height: 2px;
	background-color: #18cfab;
	position: absolute;
	top: 100%;
}
.menu-link:hover::after {
	display: block;
}

.home-item {
	color: #fff;
}
.home-item:first-child {
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
}
.home-item:nth-child(2) {
	text-transform: uppercase;
	font-size: 78px;
	font-weight: 700;
	text-align: center;
}
.home-item:last-child {
	font-size: 34px;
	font-weight: 400;
	color: #d4d4d4;
	text-align: center;
}
span {
	color: #18cfab;
}
.home {
	display: flex;
	flex-direction: column;
	gap: 122px;
	padding: 246px 0;
}

.btn {
	display: flex;
	justify-content: center;
	gap: 26px;
}

.btn-style {
	width: 168px;
	height: 68px;
	background-color: #00cbf6;
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
	border: none;
	/* margin-bottom: 243px; */
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
}

.btn-style:active {
	transform: translateY(5px);
	box-shadow: 0 -3px 0 #fff;
}

.option {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 10px;
	height: 360px;
}

.option-1,
.option-3 {
	background-color: #1c2a33;
	color: #18cfab;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.option-2,
.option-4 {
	background-color: #18cfab;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.service {
	margin: 92px auto;
	display: flex;
	width: 1160px;
	height: 375px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.service-menu {
	display: flex;
}
.our-service {
	font-size: 36px;
	font-weight: 400;
	color: #4e4e4e;
}

.service-menu-style {
	width: 195px;
	height: 76px;
	font-size: 16px;
	font-weight: 400;
	color: #717171;
	justify-content: center;
	display: flex;
	align-items: center;
}
.service-text {
	display: none;
}

.show {
	margin-top: 27px;
	display: flex;
}
.menu-activ {
	background-color: #18cfab;
	position: relative;
}

.menu-activ::after {
	content: "";
	border: 15px solid transparent;
	border-top: 15px solid #18cfab;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	bottom: -27px;
	width: 0;
}

.service-menu-style:hover {
	border: 1.5px solid #18cfab;
	cursor: pointer;
}

.purchase {
	background-image: url(../Step-project/img/section-2.jpg);
	background-repeat: round;
	width: 100vw;
	height: 477px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.purchase-text-1 {
	font-size: 40px;
	font-weight: 700;
	color: #18cfab;
	text-transform: uppercase;
}

.purchase-text-2 {
	font-size: 16px;
	font-weight: 400;
	color: #d8d8d8;
}

.work {
	max-height: 100%;
	padding-top: 97px;
	padding-bottom: 97px;
	background-color: #e9edef;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 70px;
}

.our-amazing {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.work-menu {
	display: flex;
}

.work-menu-style {
	width: 142px;
	height: 58px;
	font-size: 16px;
	font-weight: 400;
	color: #717171;
	justify-content: center;
	display: flex;
	align-items: center;
	border: 1px solid #dadada;
}

.work-activ {
	border: 3px solid #18cfab;
}

.work-img-style:nth-child(n + 13) {
	display: none;
}
.work-img-style.visible {
	display: block;
}

.work-menu-style:hover {
	border: 1.5px solid #18cfab;
	cursor: pointer;
}

.work-img {
	width: 1140px;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 285px);
	grid-template-rows: repeat(3, 206px);
}

.choice {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.choice:hover {
	border-top: 2px solid #18cfab;
}

.work-img-style:hover {
	border-top: 2px solid #18cfab;
}

.work-text-1 {
	font-size: 14px;
	font-weight: 700;
	color: #18cfab;
	text-transform: uppercase;
}

.work-text-2 {
	font-size: 12px;
	font-weight: 300;
	color: #8a8a8a;
	text-align: center;
}

.work-btn-style {
	width: 168px;
	height: 68px;
	background-color: #00cbf6;
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.work-btn-style:active {
	transform: translateY(5px);
	box-shadow: 0 -3px 0 #fff;
}
.breaking-news {
	margin: 90px auto;
	width: 1160px;
	height: 744px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.news {
	display: grid;
	grid-template-columns: repeat(4, 265px);
	grid-template-rows: repeat(2, 281px);
	row-gap: 44px;
	column-gap: 33px;
}

.news-style {
	position: relative;
}

.date {
	background-color: #203e38;
	width: 66px;
	height: 65px;
	z-index: 2;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	line-height: 25px;
	position: absolute;
	right: 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.amazing-text-1 {
	padding-left: 20px;
	font-size: 18px;
	font-weight: 700;
	color: #717171;
	line-height: 39px;
}

.amazing-text-2 {
	padding-left: 20px;
	font-size: 14px;
	font-weight: 300;
	color: #777777;
	line-height: 39px;
}

.news-style:hover .date {
	background-color: #18cfab;
}

.news-style:hover .amazing-text-1 {
	color: #18cfab;
}

.feedback {
	background-image: url(../Step-project/img/Feedback/BG-feedback.png);
	height: 854px;
	background-repeat: round;
	padding: 100px;
}
.feedback-header {
	font-size: 36px;
	font-weight: 400;
	color: #fff;
	line-height: 40px;
	text-align: center;
}

.feedback-text {
	font-size: 16px;
	font-weight: 300;
	color: #bbbbbb;
	line-height: 30px;
	text-align: center;
}

.feedback-name {
	font-size: 16px;
	font-weight: 700;
	color: #18cfab;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
}

.feedback-prof {
	font-size: 13px;
	font-weight: 300;
	color: #bbbbbb;
	line-height: 30px;
	text-align: center;
}

.feedback-modul {
	margin: 90px auto;
	width: 1160px;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 37px;
}
.feedback-info{
	width: 1160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 37px;
}
.slaider-feedback{
	width: 1160px;
	overflow: hidden;
}
.feedback-info-slaider{
	width: 4640px;
	display: flex;
	position: relative;
	left: 0;
	transition: all ease 1s;
	}

.slaider {
	width: 483px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.feedback-img {
	border: 12px solid rgba(31, 218, 181, 0.2);
	border-radius: 50%;
	display: block;
}

.feedback-img-smal {
	border: 6px solid rgba(31, 218, 181, 0.2);
	border-radius: 50%;
}
.activ-feedback{
margin-bottom: 30px;
}
.feedback-info-slaider{
	display: flex;
}
.feedback-arow {
	width: 31px;
	height: 31px;
	border: 1px solid #bbbbbb;
	display: flex;
	align-items: center;
	justify-content: center;
}

.feedback-arow:hover {
	background-color: #18cfab;
	cursor: pointer;
}

.footer {
	height: 121px;
	background-color: #22353f;
	font-size: 14px;
	font-weight: 300;
	color: #aeaeae;
	line-height: 26px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
